.header {
	@include box-shadow(0px,-2px,1px,rgba(226,234,236,0.8), true);
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
	font-family: 'Roboto', sans-serif;
	background: #fff;
	z-index: 1100;
}

.header__logo {
	float: left;
	width: 125px;
	height: 40px;
}
.header__logo-container {
	float: left;
	text-decoration: none;
	background-image: url(../images/sprite.png);
	background-position: -239px -12px;
}

.toggle-button {
	display: none;
	float: right;
	width: 50px;
	height: 50px;
	background-image: url(../images/navigation.svg);
	margin-right: 5px;
	cursor: pointer;
}

.nav-menu {
	list-style-type: none;
	&__button-container {
		float: left;
		margin-left: 40px;
		cursor: pointer;
		&--active {
		}
	}
	&__button {
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		color: #86939e;
	}
}

//MQ

@media screen and (max-width: 640px) { 
	.toggle-button { 
		display: inline-block;
	}

	.nav-menu {
		display: none;
		width: 100%;
		margin: 0 auto;
		padding: 20px 0;
		background-color: #fff; 
		overflow: hidden;
		border-bottom: 1px solid #5e6977;
		&__button-container {
			display: block;
			width: 100%;
			text-align: center;
			padding: 12px 0;
			margin-left: 0px;
			&:hover {
				background: #DFEAEC;
			}
			&--active {
				
			}
		}
		&__button {
		
		}
	}
} 

@media screen and (min-width: 641px) {
	.nav-menu {
		display: block !important;
	}
}

@media screen and (max-width: 1180px) {
	.header__logo-container {
		margin-left: 20px;
	}
}
