/*Colors*/

$color--white: #fff;
$color--grey: #5e6977;
$color--deep-grey: #545e6b;
$color--blue: #39add1;
$color--light-blue: #358ed7;
$color--light-blue-border: #e1e8ee;
$color--green: #7dc855;
$color--grey-title: #43484d;
$color--grey-description: #86939e;
$color--grey-border: #bfc7ce;

/*Font weigth*/

$font__weigth--thin: 100;
$font__weigth--light: 300;
$font__weigth--regular: 400;
$font__weigth--bold: 700;
